body.wp-admin.settings_page_ped-settings .wrap #ped-settings { position:relative; }
body.wp-admin.settings_page_ped-settings .wrap #setting-error-settings_updated { display:none !important; }
form#ped_settings fieldset,
form#event_settings fieldset,
form#notify_now_settings fieldset{ border:2px solid #3c3c3c; padding:25px; }
form#ped_settings fieldset legend,
form#event_settings fieldset legend,
form#notify_now_settings fieldset legend{ font-weight:bold; font-size:18px; }
form#ped_settings { margin-top:15px; }
form#notify_now_settings {
    width: 100px;
    position: absolute;
    right: 20px;
    top: 0px;
}
form#ped_settings .form-table th { display:none; }
form#ped_settings .form-table tr.text_option td > label,
form#ped_settings .form-table tr.select_option td > label,
form#ped_settings .form-table tr.checkbox_option td > label { width:75px; display:inline-block; }
form#ped_settings .form-table tr.checkbox_option_nolabel input { margin-left:75px; }
form#ped_settings .form-table tr.email_option_nolabel input { margin-left:105px; }
form#ped_settings .form-table tr.input_option td { padding:5px 10px; }
form#ped_settings input[type=number] { text-align:right; width:60px; }
form#ped_settings p.submit { text-align:right; }
form#ped_settings p.submit input#notify_now { margin-right:10px; }
form#ped_settings span.description { margin-left: 10px; }
form#ped_settings .plugin-footer { border-top:1px solid #3c3c3c; }
form#ped_settings .plugin-footer .right { text-align:right; }
form#ped_settings, form#event_settings, form#notify_now_settings { margin-bottom:25px; }
#out_of_content_widget form table.wp-list-table thead { display:none; }
#out_of_content_widget form table.wp-list-table .column-post_title { width:75%; max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
#out_of_content_widget form table.wp-list-table .column-post_modified { width:25%; }
form#event_settings table.form-table tr.hidden_option { display:none; }